* {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 160px 160px 160px;
  gap: 20px;
  justify-content: center;
  align-content: center;
  background-color: black;
  width: 520px;
  height: 520px;
  margin: 0 auto;
}

.grid-element {
  border: none;
  background-color: white;
}
